<div style="width:100%; background-color: blue;">
  <p-galleria [numVisible]="images.length" [value]="images" [containerStyle]="{ 'background': '#FFF' }" [showItemNavigators]="true">
    <ng-template pTemplate="item" let-item>
      <ng-template [ngIf]="item.isVideo">
        <div class="grid grid-nogutter justify-content-center gallery-img">
          <iframe
            width="100%"
            height="auto"
            [src]="getSanitizerUrl(item.src)"
            frameborder="0"
            allowfullscreen
            style="width: 100%; min-height: 420px; display: block;"
          ></iframe>
        </div>
      </ng-template>


      <ng-template [ngIf]="item.isVideo == false">
        <div class="grid grid-nogutter justify-content-center">
          <img class="gallery-img" [src]="item.src" [alt]="item.alt" [title]="item.title" />
        </div>
      </ng-template>
    </ng-template>

    <ng-template pTemplate="thumbnail" let-item width="50%">
      <div class="grid  grid-nogutter justify-content-center">
        <img class="gallery-item" [src]="item.thumbnailImageSrc" style="display: block;" [alt]="item.alt" [title]="item.title" width=80% />
      </div>
    </ng-template>
  </p-galleria>

</div>
