<h2>Papers</h2>

<app-carousel-papers></app-carousel-papers>

<h3>Other Papers</h3>

<ul>
  <li>
    Viana, J., et al. (2022).
    <a class="link-item" title="Deep Attention Recognition for Attack Identification in 5G UAV scenarios: Novel
    Architecture and End-to-End Evaluation" href="https://www.google.com" target="_blank" rel="nofollow">
      Deep Attention Recognition for Attack Identification in 5G UAV scenarios: Novel Architecture and End-to-End Evaluation
    </a>
    , Transaction Vehicular Technology 2022.
  </li>

  <li>Viana, J et al.,
    <a class="link-item" title="" href="https://www.google.com" target="_blank" rel="nofollow">
      Increasing Reliability on UAV Fading Scenarios
    </a>
    ," in IEEE Access, vol. 10, pp. 30959-30973, 2022, doi: 10.1109/ACCESS.2022.3149588.
  </li>

  <li>Viana J, Cercas F, Correia A, Dinis R, Sebastião P.
    <a class="link-item" title="" href="https://www.google.com" target="_blank" rel="nofollow">MIMO Relaying UAVs Operating in Public Safety Scenarios</a>
    . Drones. 2021; 5(2):32.
  </li>

  <li>Viana, J., Farkhari, H.,
    <a class="link-item" title="" href="https://www.google.com" target="_blank" rel="nofollow">
      Accurate and Reliable Methods for 5G UAV Jamming Identification With Calibrated Uncertainty
    </a>
    , Research Challenges in Information Science (2023)
  </li>

  <li>Viana, J., Farkhari, H., Campos, L. M., Sebastiao, P., Koutlia, K., Lagen, S., … Dinis, R. (2022). A Convolutional
    <a class="link-item" title="" href="https://www.google.com" target="_blank" rel="nofollow">
      Attention Based Deep Network Solution for UAV Network Attack Recognition over Fading Channels and Interference
    </a>
    . doi:10.48550/ARXIV.2207.10810, VTC fall 2022
  </li>

  <li>J. Madeira, J. Viana, J. Guerreiro and R. Dinis, "
    <a class="link-item" title="" href="https://www.google.com" target="_blank" rel="nofollow">
      A Scalable LDPC Coding Scheme for Adaptive HARQ Techniques
    </a>
    ," 2022 IEEE 95th Vehicular Technology Conference: (VTC2022-Spring), 2022, pp. 1-6, doi: 10.1109/VTC2022-Spring54318.2022.9860855
  </li>

  <li>Viana, J., Farkhari, H., Campos, L. M., Sebastiao, P., Cercas, F., Bernardo, L., & Dinis, R. (2022).
    <a class="link-item" title="" href="https://www.google.com" target="_blank" rel="nofollow">
      Two methods for Jamming Identification in UAVs Networks using New Synthetic Dataset
    </a>
    . VTC spring 2022.
  </li>

  <li>Farkhari, H., Viana, J., Campos, L. M., Sebastião, P., Oliveira, R., & Bernardo, L. (2021).
    <a class="link-item" title="" href="https://www.google.com" target="_blank" rel="nofollow">
      New PCA-based Category Encoder for Efficient Data Processing in IoT Devices
    </a>
    . Globecom 2022
  </li>

  <li>H. Farkhari, Viana J et al., "
    <a class="link-item" title="" href="https://www.google.com" target="_blank" rel="nofollow">
      Latent Space Transformers for Generalizing Deep Networks," 2021 IEEE Conference on Standards for Communications and Networking (CSCN)
    </a>
    , 2021, pp. 130-135, doi: 10.1109/CSCN53733.2021.9686099.
  </li>

  <li>M. J. Lopez-Morales et al., "
    <a class="link-item" title="" href="https://www.google.com" target="_blank" rel="nofollow">
      MOOC on 'Ultra-dense Networks for 5G and its Evolution': Challenges and Lessons Learned
    </a>
    ," 2022 31st Annual Conference of the European Association for Education in Electrical and Information
    Engineering (EAEEIE), 2022, pp. 1-6, doi: 10.1109/EAEEIE54893.2022.9819989.
  </li>
</ul>
