@import "./../../../styles.scss";



:host {

  ::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator button {
    height: 20px;
    width: 20px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

  ::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
    background-color: $primary-color;
  }

  ::ng-deep .carousel-item img {
    max-height: 200px;
  }


  .paper-item-content {
    text-align: center;
  }

  .paper-image {
    width: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
}

