<div *ngIf="!isMobile">
  <p-carousel [value]="papers" [numVisible]="3" [numScroll]="3">
    <ng-template let-paper pTemplate="item">
      <div class="paper-item">
        <div class="paper-item-content">
          <div class="carousel-item">
            <a href="{{ paper.linkSrc }}" target="_blank">
              <img class="paper-image" src="{{ paper.image }}" alt="{{ paper.title }}">
              <p class="p-mb-1">{{ paper.title }}</p>
            </a>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>


<div *ngIf="isMobile">
  <div *ngFor="let paper of papers">
    <a class="paper-responsive" href="{{ paper.linkSrc }}" target="_blank">
      <img class="paper-image" src="{{ paper.image }}" alt="{{ paper.title }}">
      <p class="p-mb-1">{{ paper.title }}</p>
    </a>
  </div>
</div>

