.product-item-content {
  text-align: center;
}

.product-image {
  width: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

:host {
  ::ng-deep button.p-link {
    &:not(.p-element) {
      height: 25px !important;
      width: 25px !important;
      background-color: #bbb !important;
      border-radius: 50% !important;
      display: inline-block !important;
    }
  }

  ::ng-deep .carousel-item img {
    max-height: 200px;
  }
}
