<h2>Career</h2>

<p>
  I am a PhD student from University Carlos III Madrid in the Signal Processing Department. I received her Bachelor’s
  degree in Telecommunication Engineering from the Univer- sity of Campinas - Brazil. I was an Early-Stage Researcher in
  the project TeamUp5G, a European Training Network in the frame of (MSCA ITN) of the European Commission’s Horizon 2020.
</p>
<p>
  My research interests are wireless communications ap- plied to interconnected systems such as UAVs, aerial vehicles, and
  non-terrestrial devices She is a Brazilian engineer, born in Santos – located on the coast of Sao Paulo but grew up in
  Mogi das Cruzes which is a city located in the East Zone of the São Paulo Metropolitan Region.
</p>
<p>
  At 19 years old, she moved to the capital of São Paulo and started to work in the electronics field. She was passionate
  about engineering so she decided to graduate in telecommunication engineering at the University of Campinas – Unicamp,
  ranked among the best universities in Brazil. During the university studies, she participated in a volleyball team, and
  also in the robots group building smart racing cars that would follow a black line circuit.
</p>
<p>
  She did some international studies, for instance, 1-year study in Canada at University of McMaster and an oral
  presentation in Argentina at AUGM Young Researchers Conference at Cuyo University. One of her biggest accomplishments in
  university was to receive a prize for a paper presented in the XXV Scientific Junior Research Conference of University
  of Campinas in which 20 students were selected between around 1500 participants. She also had professional experiences,
  after the university where she worked as a product development engineer at Embraer where her main tasks were to develop
  radars for military purposes in Brazil.
</p>
<p>
  I am open to new opportunities for work and collaboration.
</p>

<div class="social-career">
  <div class="social-career-container">
    <app-social></app-social>
  </div>
</div>
