@import url("https://fonts.googleapis.com/css2?family=Pontano+Sans:wght@300;400&family=Rosario:wght@700&display=swap");
@import "./../styles.scss";

:host {
  font-family: "Pontano Sans", sans-serif;
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.toolbar {
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 45px;
  display: flex;
  align-items: center;
  background-color: $background-color;
  color: white;
  font-weight: 600;
  margin-top: 0;
  box-shadow: 1px 0.2px 2px $base-color;
  padding: 0px;

  .menu-container {
    max-width: $max-width-page;
    display: flex;
    margin: 2px auto 0px;
    align-content: space-between;
  }

  .btn {
    margin: 0 40px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    color: $base-color;
    font-size: 15px;

    &:hover {
      color: $primary-color;
      border-bottom: 1px solid $primary-color;
    }
  }
}

.toolbar #twitter-logo:hover,
.toolbar #youtube-logo:hover {
  opacity: 0.8;
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: $max-width-page;
  flex-direction: column;
  align-items: center;

  .page {
    max-width: 960px;
  }

  .page:not(:first-child) {
    border-top: 1px solid $primary-color;
    margin: 60px 0 0;
  }
}

.container-page {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-position-y: 420px;
}

.principal {
  height: 1000px !important;
}

@media screen and (max-width: 790px) {
  ::ng-deep div.presentation {
    display: flex;
    flex-direction: column;
  }

  ::ng-deep .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  ::ng-deep button.btn {
    padding: 0;
    margin: 0px!important;
  }

  ::ng-deep .menu-container {
    justify-content: space-around;
    display: flex;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  ::ng-deep p.p-mb-1 {
    font-size: 16px!important;
  }

  ::ng-deep .profile {
    padding: 0px!important;
  }
}

