@import 'primeng/resources/themes/lara-light-blue/theme.css';
@import 'primeng/resources/primeng.css';

$primary-color: #4B9FB1;
$primary-dark: #285761;
$primary-light: rgba($primary-color, 0.60);
$base-color: #323232;
$neutral-color: #EEE;
$background-color: $neutral-color;
$max-width-page: 960px;

body {
  background: $background-color;
}

h1, h2, a {
  color: $primary-color;
}

h1 {
  margin-top: 0;
}

h2 {
  margin: 70px 0 50px 0;
  font-size: 42px;
  font-weight: 300;
}

h3 {
  font-size: 32px;
  font-weight: 200;
  color: $base-color;
}

p {
  font-size: 18px;
}

li {
  font-size: 14px;
  margin: 10px 0;
}

a {
  &:hover {
    color: $primary-light;
  }
  &:visited {
    color: $primary-dark;
  }
}

*:focus {
    outline: none !important;
    box-shadow: none !important;
}
