<div class="presentation">
  <div class="text">
    <h1>Joseanne Viana</h1>
    <p>
      I am Joseanne Viana a Ph.D. student at University Carlos III de Madrid in the Signal Processing and Communication
      Department.
    </p>
    <p>
      I received her Bachelor’s degree in Telecommunication Engineering from the University of Campinas - Brazil. I was an
      Early-Stage Researcher in the project TeamUp5G, a European Training Network in the frame of (MSCA ITN) of the European
      Commission’s Horizon 2020. My research interests are wireless communications applied to interconnected systems such as
      UAVs, aerial vehicles, and non-terrestrial devices.
    </p>
    <p>
      Currently, I am working in the field of Machine Learning applied in wireless communications, with a specific focus on
      interconnected systems such as Unmanned Aerial Vehicles (UAVs), aerial vehicles, and non-terrestrial devices.
    </p>

  <div class="skills">
    <h2 class="subtitle">Skills</h2>
    <div class="bullets">
      <ul>
        <li>Multi-antenna technology</li>
        <li>System-level simulation</li>
        <li>System-level simulation</li>
      </ul>
      <ul>
        <li>System-level simulation</li>
        <li>Multi-antenna technology</li>
        <li>Multi-antenna technology</li>
      </ul>
    </div>
  </div>
  </div>

  <div class="profile">
    <img class="photo" src="assets/img/joseanne.png" alt="Joseanne Viana">

    <div class="social">
      <app-social></app-social>
    </div>
  </div>
</div>
