@import "./../../../styles.scss";

h1 {
  font-weight: 500;
  font-size: 42px !important;
}

.presentation {
  display: flex;

  .text {
    flex-grow: 1;
    order: 1;
    font-size: 18px;
    text-align: start;
  }

  .profile {
    padding: 15px 105px;
    flex-grow: 4;
    order: 2;

    .photo {
      height: 325px;
      margin: 0 0 20px 0;
      // box-shadow: 3px 3px 10px #aaaaaa;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.16), 0 6px 12px rgba(0, 0, 0, 0.23);
      border-radius: 50%
    }
  }
}
