h1 {
  font-weight: 500;
  font-size: 42px !important;
}

.presentation {
  display: flex;

  .text {
    flex-grow: 1;
    order: 1;
    font-size: 18px;
    text-align: start;
  }

  .profile {
    padding: 15px 105px;
    flex-grow: 4;
    order: 2;

    img {
      height: 325px;
      padding: 0 0 20px 0;
    }
  }
}
